
body {
    margin: 0;
    font-family: 'Urbanist', sans-serif;
    background-color: #f9fafb;
    overflow-x: hidden;
}


.navbar {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0 40px;
  position: sticky;
  top: 0;
  z-index: 50;
}
.nav-links { display: flex; gap: 34px; }
.nav-links p {
  color: white; text-decoration: none; font-size: 15px; font-weight: 500;
  transition: transform 0.3s ease;
}


@media (max-width:940){
  .nav-links {
  display: flex;
  flex-direction: column;
    }
}


.nav-logo { position: absolute; left: 20px; top: 15px; }
.nav-logo img { height: 120px; width: auto; }

.langage-switcher-menu {
left: 5px;

}



@media (max-width:940){
  .nav-links {
  display: flex;
  flex-direction: column;
    }
}






.nav-logo{position:absolute;left:20px;top:15px;display:block;z-index:70}
.nav-logo img{height:120px;width:auto;display:block}







/* ça c'est la langue */

details summary {

color: rgb(255, 255, 255);
cursor: pointer;
list-style: none;
}

.langage-switcher summary::-webkit-details-marker {
display: none;
}



/* ça c'est la position des langues */

.langage-switcher{
position: absolute;
margin-top: -120px;
right: 240px;
display: inline-block;
font-size: 15px;font-family: Urbanist; font-weight: 500;
}



/* ça c'est les langues */

.langage-switcher-menu {
position: absolute;
top: 160%;
left: 5;
background: rgb(0, 0, 0);
border: 1px solid #636262;
display: flex;
flex-direction: column;
min-width: 160px;
border-radius: 6px;
box-shadow: 0 10px 30px rgba(55, 54, 54, 0.5);
padding: 6px 0;
}



.langage-switcher-menu a{display:block;color:rgb(255, 255, 255);text-decoration:none;padding:10px 14px; font-family: Urbanist; font-weight: 400;}
.langage-switcher-menu a:hover{background:rgba(255,255,255,0.03)}




.hero { width: 100%; position: relative; overflow: hidden; margin-bottom: 100px; }
.hero-img { width: 100%; height: 600px; object-fit: cover; display: block; }

.hero-overlay {
  position: absolute; left: 0; bottom: 0; height: 50%; 
  background: rgba(0,0,0,0.5); width: 100%; z-index: 2;
}

.hero-content {
    position: absolute; inset: 0; z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 60px;
}

@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        justify-content: flex-end;
    }
}


.texte-premier { color: #ffffff; max-width: 700px; }
.texte-premier h1 { font-family: 'Cinzel'; font-size: 45px; margin-bottom: 8px; font-weight: 400; }

.btn {
    text-decoration: none; 
    font-size: 22px; 
    font-family: 'Urbanist', sans-serif;
    padding: 20px 0; 
    width: 280px;       
    text-align: center;
    transition: all 0.3s ease; 
    border: 3px solid white;
    box-sizing: border-box; 
}

.btn-outline { background: transparent; color: white; }
.btn-filled { background: white; color: black; }

.hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center; 
}

.hero-buttons .btn-outline { order: 1; }
.hero-buttons .btn-filled { order: 2; }


/*  ACTUALITÉS  */
.title h1 { text-align: center; font-size: 36px; font-family: 'Cinzel'; margin-top: 80px; }

.slider {
    position: relative;
    width: 100%;
}


    
.actualites {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1392px;
    margin: 20px auto;
    padding: 0 60px; /* Espace pour les flèches */
   
}

@media (max-width:940px) {
    .actualites {
    display: flex;
    flex-direction: column;
    }
}





.actualites article {
    background-color: #000; color: #fff;
    display: flex; flex-direction: column;
    transition: transform 0.3s ease;
}
.actualites article img { width: 100%; height: 200px; object-fit: cover; }
.text-block { font-size: 20px; margin: 20px; }

.actualites article:hover {
    transform: scale(1.05); 
    z-index: 10;           
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}


/* Les flèches de l'écran */
.arrow {
    position: absolute; top: 50%; transform: translateY(-50%);
    background: transparent; border: none; font-size: 30px;
    cursor: pointer; z-index: 10;
}
.arrow.left { left: 20px; }
.arrow.right { right: 20px; }

/* SECTION NOIRE  */
.section-noire {
    background-color: #000; color: #fff;
    padding: 60px 20px; display: flex; flex-direction: column; align-items: center;
}
.section-noire h1 { text-align: center; font-size: 36px; font-family: 'Cinzel'; margin-top: 80px; }
.section-noire h1::after {
    content: ""; display: block; width: 80vw; height: 1px;
    background: white; margin-top: 40px;
    align-items: center;         
}
.galerie-container {
    display: flex; flex-wrap: wrap; justify-content: center;
    gap: 50px; max-width: 1200px; 
}


.img-1, .img-4 { width: 280px; height: 400px; object-fit: cover; }
.img-2, .img-6 { width: 350px; height: 500px; object-fit: cover; }
.img-3, .img-5 { width: 300px; height: 450px; object-fit: cover; }

.galerie-item img { transition: transform 0.3s ease; }
.galerie-item img:hover { transform: scale(1.05); cursor: pointer; }


/* LE BOUTON */
.galerie-button {
    display: flex;           
    justify-content: center;  
    width: 100%;             
    margin-top: 60px;       /* espace entre les images et le bouton */
    margin-bottom: 40px;    /* espace par rapport au bas de la section */
}

.btn3 {
    text-decoration: none; 
    font-size: 22px; 
    padding: 15px 0;    
    width: 300px;   
    text-align: center; 
    transition: all 0.3s ease; 
    box-sizing: border-box; 
    display: inline-block;   
    border: 3px solid white;
    cursor: pointer;
}

.btn-filled { 
    background: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);           
    font-family: 'Urbanist'; 
}
.btn3:hover {
    background: white;
    color: rgb(67, 32, 32);
    transform: scale(1.05);
}

















.academy {
  padding: 80px 64px;
  background: #ffffff;
  font-family: 'Urbanist', sans-serif;
}

.academy-title {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  margin-bottom: 64px;

}

.academy-grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 48px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width:940px) {
    .academy-grid {
    display: flex;
    flex-direction: column;
    }
}


/* Style global */
body {
    background-color: #ffffff;
    margin: 0;
}


h1 {
    text-align: center; font-family: 'Cinzel', serif;
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 36px;
}


/* Grille principale */
.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width:940px) {
    .cards-grid  {
    display: flex;
    flex-direction: column;
    }
}


/* Style de la carte */
.card {
    display: flex;
    background-color: #000;
    color: #fff;
    height: 450px;
    overflow: hidden;
}


/* Partie texte (gauche) */
.card-content {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* les dates vers le bas */
}



h4 {
    font-family: 'Cinzel';
}


.academy-card dark:hover {
    transform: scale(1.05);
}  


.academy-image img {
  width: 100%;
  display: block;
}

.academy-text h4 {
     font-size: 25px;
     margin-bottom: 5px;
}

.academy-text p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 360px;
}


.academy-card {
  display: flex;
  background: #000;
  color: #fff;
}

.academy-card img {
  width: 50%;
  object-fit: cover;
}

.card-text {
  padding: 24px;
}

.card-text h4 {
  margin-bottom: 16px;
}

.card-text p {
  font-size: 18px;
  line-height: 1.5;
  opacity: 0.8;
}




.academy-wrapper {
    display: flex;           
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    width: 100%;             
    margin-top: 60px;       
    margin-bottom: 40px;    
} 
.academy-container {
    display: flex;           
    justify-content: center;  
    width: 100%;             
    margin-top: 60px;       
    margin-bottom: 40px;    
}

/* BOUTON */
.academy-btn {
    text-decoration: none; 
    font-size: 22px; 
    padding: 15px 0;        
    width: 300px;   
    text-align: center; 
    transition: all 0.3s ease; 
    box-sizing: border-box; 
    display: inline-block;   
    cursor: pointer;
    background: #000000;     
    color: #ffffff;         
    font-family: 'Urbanist';
}

.academy-btn:hover {
    transform: scale(1.05);
}



.footer {
  background: #000;
  color: #fff;
  padding: 64px 64px 80px;
  font-family: system-'Urbanist', sans-serif;
}


.footer-inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 48px 32px;
}

@media (max-width:940px) {
    .footer-inner {
    display: flex;
    flex-direction: column;
    }
 }

.footer-col h5,
.footer-social h5,
.footer-friends h5 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
  opacity: 0.9;
}


.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.footer-col li {
  font-size: 13px;
  line-height: 1.8;
  opacity: 0.7;
  cursor: pointer;
}


.footer-col li:hover {
  opacity: 1;
}


.footer-brand {
  grid-column: span 2;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 32px;
}


.footer-social {
  grid-column: span 2;
  margin-top: 32px;
}


.social-icons {
  display: flex;
  gap: 16px;
  font-size: 13px;
  opacity: 0.8;
}


.footer-friends {
  grid-column: span 2;
  margin-top: 32px;
}


.footer-friends a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
}


.footer-friends a:hover {
  opacity: 1;
}


.footer-title {
  font-family: 'Lora', serif;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
}
.footer-line {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
}


.footer-line::after {
  content: "";
  flex: 1;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}
