
body {
    margin: 0;
    font-family: 'Urbanist', sans-serif;
    background-color: #f9fafb;
    overflow-x: hidden;
}


.navbar {
  
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0 40px;
  position: sticky;
  top: 0;
  z-index: 50;
}


.nav-link { display: flex; gap: 34px; }
.nav-link { 
  color: rgb(255, 255, 255); text-decoration: none; font-size: 15px; font-weight: 500;
  transition: transform 0.3s ease;
}

.nav-links:hover {
    transform: scale(1.3);
    display: flex;
}

@media (max-width:940){
  .navbar{
  font-size: 5px;
  gap: 20px;
    }
}


.nav-logo { position: absolute; left: 20px; top: 15px; }
.nav-logo img { height: 120px; width: auto; }





.nav-logo img {
    height: 120px;
    width: auto;
    transition: all 0.3s ease; 
}

.burger-menu {
    display: none; /* Tjrs caché sur PC */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 100;
}

.burger-menu span {
    width: 30px;
    height: 3px;
    background-color: white;
    display: block;
}


@media (max-width: 980px) {
    .nav-links {
        display: none !important; 
    }

    /* le burger à droite */
    .burger-menu {
        display: flex; 
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%); 
    }

    /*  rétrécir le logo  */
    .nav-logo img {
        height: 50px; 
    }
    
    .nav-logo {
        top: 15px;    /*position du logo */
        left: 20px;
    }

    .navbar {
        padding: 40px 0; /*  réduit la hauteur de la barre noire */
        justify-content: center; 
    }
    .langage-switcher {
    display: none !important; 
    }

    .flech-icon {
    display: none !important; 
    }

    .search-icon{
    display: none !important; 
}
    }



/* Langue + Loupe) */
.langage {
    position: absolute;
    right: 100px;      /* Distance du bord droit de la navbar */
    top: 30%;         /* Centrage vertical */
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 20px;        /* Espace entre le texte et la loupe */
    z-index: 100;
}

/* LE SÉLECTEUR DE LANGUE */
.langage-switcher {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    
}

.langage-switcher summary {
    color: white;
    cursor: pointer;
    list-style: none;
    outline: none;
    display: flex;
}

.langage-switcher[open] .flech-icon {
    transform: rotate(180deg);
}

/* LE MENU DÉROULANT */
.langage-switcher-menu {
    position: absolute;    
    left: 0;
    background: rgb(0, 0, 0);
    border: 1px solid #636262;
    display: flex;
    flex-direction: column;
    min-width: 120px;
    border-radius: 6px;
    margin-top: 15px;
    padding: 5px 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.langage-switcher-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 14px;
}

.langage-switcher-menu a:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* L'ICÔNE loop */
.search-icon {
    width: 22px;
    height: 22px;
    display: block;
    cursor: pointer;
    transition: opacity 0.3s;
}

.search-icon:hover {
    opacity: 0.7;
}

/* L'ICÔNE loop */
.flech-icon {
    width: 22px;
    height: 22px;
    display: block;
    cursor: pointer;
    transition: opacity 0.3s;
}

.flech-icon:hover {
    opacity: 0.7;
}

.hero { width: 100%; position: relative; overflow: hidden; margin-bottom: 100px; }
.hero-img { width: 100%; height: 600px; object-fit: cover; display: block; }

.hero-overlay {
  position: absolute; left: 0; bottom: 0; height: 50%; 
  background: rgba(0, 0, 0, 0.5); width: 100%; z-index: 2;
}

.hero-content {
    position: absolute; inset: 0; z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px;
}

@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        justify-content: flex-end;
    }
}


.texte-premier { color: #ffffff; max-width: 700px; }

.texte-premier h1 { 
  text-align:left;
  font-family: 'Cinzel'; 
  font-size: 45px; 
  margin-bottom: 50px; 
  font-weight: 400;
 }



@media(max-width:940px){
.texte-premier h1 {
    text-align: center;
    font-family: 'Cinzel';
    font-size: 40px;
    font-weight:400;
    margin-bottom: 30px;
}
}

@media(max-width:940px){   
.texte-premier{ 
    max-width: 700px;
    text-align: center;
    margin-bottom: 80px;
}
}





.hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center; 
}


.btn-outline {
    text-decoration: none; 
    font-size: 22px; 
    font-family: 'Urbanist', sans-serif;
    padding: 20px 0; 
    width: 280px;       
    text-align: center;
    transition: all 0.3s ease; 

    box-sizing: border-box; 
}

.btn-outline{
    color: white;
    position: relative;
    border: 2px solid white;
    cursor: pointer;
    overflow: hidden; /* Important pour cacher le remplissage qui arrive */
    transition: color 0.4s ease;
    z-index: 1;
}

/* Le calque qui va glisser derrière le texte */
.btn-outline:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; /* Commence en dehors du bouton à gauche */
    width: 100%;
    height: 100%;
    background-color: white; /* La couleur qui va remplir le bouton */
    transition: left 0.4s ease;
    z-index: -1; /* Reste derrière le texte */
}

/* L'effet au survol */
.btn-outline:hover {
    color: black; /* Le texte devient noir quand le fond devient blanc */
}

.btn-outline:hover::before {
    left: 0; /* Le calque glisse vers le centre */
}



.btn-filled {
    text-decoration: none; 
    font-size: 22px; 
    font-family: 'Urbanist', sans-serif;
    padding: 20px 0; 
    width: 280px;       
    text-align: center;
    transition: all 0.3s ease; 
    color: transparent;
    box-sizing: border-box; 
}























/*  ACTUALITÉS  */
.title h1 { text-align: center; font-size: 36px; font-family: 'Cinzel'; margin-top: 80px; }

.slider {
    position: relative;
    width: 100%;
}


    
.actualites {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1392px;
    margin: 20px auto;
    padding: 0 60px; /* Espace pour les flèches */
   
}

@media (max-width:940px) {
    .actualites {
    display: flex;
    flex-direction: column;
    }
}






.actualites article {
    background-color: #000; color: #fff;
    display: flex; flex-direction: column;
    transition: transform 0.3s ease;
}
.actualites article img { width: 100%; height: 200px; object-fit: cover; }
.text-block { font-size: 20px; margin: 20px; }

.actualites article:hover {
    transform: scale(1.05); 
    z-index: 10;           
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}



/* Les flèches de l'écran */
.arrow {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    background: transparent; 
    border: none; 
    font-size: 30px;
    cursor: pointer; 
    z-index: 10;
    display: flex;
}

.arrow.left { left: 20px; }
.arrow.right { right: 20px; }



@media (max-width: 940px) {
    /* On cache les flèches */
    .arrow {
        display: none;
    }
}



/* SECTION NOIRE  */
.section-noire {
    background-color: #000; color: #fff;
    padding: 60px 20px; display: flex; flex-direction: column; align-items: center;
}
.section-noire h1 { text-align: center; font-size: 36px; font-family: 'Cinzel'; margin-top: 80px; }
.section-noire h1::after {
    content: ""; display: block; width: 80vw; height: 1px;
    background: white; margin-top: 40px;
    align-items: center;         
}




.img-1, .img-4 { width: 280px; height: 400px; object-fit: cover; }
.img-2, .img-6 { width: 350px; height: 500px; object-fit: cover; }
.img-3, .img-5 { width: 300px; height: 450px; object-fit: cover; }


.galerie-container {
    display: flex; flex-wrap: wrap; justify-content: center;
    gap: 50px; max-width: 1200px; 
}

.galerie-item img { transition: transform 0.3s ease; }
.galerie-item img:hover { transform: scale(1.05); cursor: pointer; }


@media(max-width:(900px)){
.galerie-item img { 
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center; 
}
}
    

/* LE BOUTON */
.galerie-button {
    display: flex;           
    justify-content: center;  
    width: 100%;             
    margin-top: 60px;       /* espace entre les images et le bouton */
    margin-bottom: 40px;    /* espace par rapport au bas de la section */
}

.btn3 {
    text-decoration: none; 
    font-size: 22px; 
    padding: 15px 0;    
    width: 300px;   
    text-align: center; 
    transition: all 0.3s ease; 
    box-sizing: border-box; 
    display: inline-block;   
    border: 3px solid white;
    cursor: pointer;
}

.btn-filled { 
    background: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);           
    font-family: 'Urbanist'; 
}
.btn3:hover {
    background: white;
    color: rgb(67, 32, 32);
    transform: scale(1.05);
}











/*academia encore*/





.academy {
  padding: 80px 64px;
  background: #ffffff;
  font-family: 'Urbanist', sans-serif;
}

.academy-title {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  margin-bottom: 64px;

}

.academy-grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 48px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width:940px) {
    .academy-grid {
    display: flex;
    flex-direction: column;
    }
}































h1 {
    text-align: center; font-family: 'Cinzel', serif;
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 36px;
}


/* Grille principale */
.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width:940px) {
    .cards-grid  {
    display: flex;
    flex-direction: column;
    }
}


/* Style de la carte */
.card {
    display: flex;
    background-color: #000;
    color: #fff;
    height: 450px;
    overflow: hidden;
}


/* Partie texte (gauche) */
.card-content {
    flex: 1;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* les dates vers le bas */
}



h4 {
    font-family: 'Cinzel';
}


.academy-card dark:hover {
    transform: scale(1.05);
}  


.academy-image img {
  width: 100%;
  display: block;
}

.academy-text h4 {
     font-size: 25px;
     margin-bottom: 5px;
}

.academy-text p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 360px;
}

/*texte dans les cartes*/
.academy-card {
  display: flex;
  background: #000;
  color: #ffffff;
}

.card-text {
  padding: 24px;
}

.card-text h4 {
  margin-bottom: 16px;
}

.card-text p {
  font-size: 18px;
  line-height: 1.5;
  opacity: 0.8;
}

.academy-card img {
  width: 40%;
  object-fit: cover;
}


.archives-links {
    margin-top: 15px;
    padding-left: 5px;
}

.archives-links a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-family: 'Urbanist', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
















/*academie full de kehs*/

/*button de mort*/

.academy-container {
    display: flex;           
    justify-content: center;  
    align-items: center;      
    width: 100%;             
    margin: 40px 0;     
    
    }

.academy-btn {
    text-decoration: none; 
    font-size: 22px; 
    padding: 15px 0;        
    width: 300px;   
    text-align: center; 
    transition: all 0.3s ease; 
    box-sizing: border-box; 
    display: inline-block;   
    cursor: pointer;
    background: #000000;     
    color: #ffffff;         
    font-family: 'Urbanist';
}
.academy-btn:hover {
    transform: scale(1.05);
}





/*truc de D avec expo */

.card-wrapper {
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px;
}

.card { 
    display: flex; 
    flex-direction: row;
    background-color: #000; 
    color: #fff; 
    height: 400px; 
    overflow: hidden;
    transition: transform 0.3s ease;
}


.card-content { 
    flex: 0 0 60%; 
    padding: 30px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.card-image {
    flex: 0 0 40%;
    height: 100%;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Pour le survol */
.card:hover {
    transform: scale(1.02);
}









@media (max-width: 768px) {
    .cards-grid {
        grid-template-columns: 1fr; 
        padding: 0 20px;
        gap: 50px;
    }

    .card {
        min-height: auto; 
    }

    .card-image img {
        height: 200px; 
    }

    .card-content h4 {
        font-size: 18px;
        margin-bottom: 15px;
    }
}










.footer {
  background: #000;
  color: #fff;
  padding: 64px 64px 80px;
  font-family: system-'Urbanist', sans-serif;
}


.footer-inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 48px 32px;
}

@media (max-width:940px) {
    .footer-inner {
    display: flex;
    flex-direction: column;
    }
 }

.footer-col h5,
.footer-social h5,
.footer-friends h5 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
  opacity: 0.9;
}


.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.footer-col li {
  font-size: 13px;
  line-height: 1.8;
  opacity: 0.7;
  cursor: pointer;
}


.footer-col li:hover {
  opacity: 1;
}


.footer-brand {
  grid-column: span 2;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 32px;
}


.footer-social {
  grid-column: span 2;
  margin-top: 32px;
}


.social-icons {
  display: flex;
  gap: 16px;
  font-size: 13px;
  opacity: 0.8;
}


.footer-friends {
  grid-column: span 2;
  margin-top: 32px;
}


.footer-friends a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
}


.footer-friends a:hover {
  opacity: 1;
}


.footer-title {
  font-family: 'Lora', serif;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
}
.footer-line {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
}


.footer-line::after {
  content: "";
  flex: 1;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}