body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
}

.navbar {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0 40px;
  position: sticky;
  top: 0;
  z-index: 50;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 34px;
  max-width: 1200px;
  padding: 0 20px;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;font-family: Urbanist; font-weight: 500;
  font-weight: 500;
  transition: opacity 0s.2s;
  white-space: nowrap;
   transition: transform 0.3s ease;
  
}

.nav-links img:hover {
    transform: scale(1.05);
    cursor: pointer;
}



/* ça c'est le logo du musuem */
.nav-logo{position:absolute;left:20px;top:15px;display:block;z-index:70}
.nav-logo img{height:120px;width:auto;display:block}


/* ça c'est la langue */
details summary {
    color: rgb(255, 255, 255);
    cursor: pointer; 
    list-style: none;
}
.langage-switcher summary::-webkit-details-marker {
  display: none;
}

/* ça c'est la position des langues */
.langage-switcher{
    position: absolute; 
    margin-top: -120px;
    right: 240px;
    display: inline-block;
    font-size: 15px;font-family: Urbanist; font-weight: 500;
}

/* ça c'est les langues */
.langage-switcher-menu {
    position: absolute;
    top: 160%;
    left: 5;
    background: rgb(0, 0, 0);
    border: 1px solid #636262;
    display: flex;
    flex-direction: column;
    min-width: 160px;
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(55, 54, 54, 0.5);
    padding: 6px 0;
}

.langage-switcher-menu a{display:block;color:rgb(255, 255, 255);text-decoration:none;padding:10px 14px; font-family: Urbanist; font-weight: 400;}
.langage-switcher-menu a:hover{background:rgba(255,255,255,0.03)}


.hero{width:100%;display:block;position:relative;overflow:hidden}
.hero-img{width:100%;height:600px;object-fit:cover;display:block}


.hero-overlay{position:absolute;left:0;bottom:0;height:50%;background:rgba(0,0,0,0.5);width:100%}

@media (max-width:600px) {
  .hero-img{height:260px}
  .hero-overlay{height:50%;max-width:40%}
}

.hero-overlay { z-index: 2; }


.texte-premier{
  position: absolute;
  left: 50px;                
  bottom: calc(28% - 40px);  
  z-index: 3;                
  color: #fff;
  max-width: 700px;
}


.texte-premier h1{ font-size: clamp(20px, 3.6vw, 45px); margin:0 0 8px 0; font-family: Cinzel; font-weight: 400;}
.texte-premier h2{ font-size: clamp(20px, 3.6vw, 10px); margin:0; opacity:0.95; font-family: Urbanist; font-weight: 100; }


.hero {
  margin-bottom: 1000px; 
}


.section-noire {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;   
    align-items: center;     
    justify-content: flex-start;
    padding: 20px 20px;
}

.section-noire h1 {
    color: #ffffff;
    font-family: 'Cinzel', serif;      
    font-size: 45px; font-family: Cinzel;  
    margin-bottom: 40px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.section-noire h1::after {
    content: ""; 
    width: 1350px;
    height: 1px;  
    background-color: #ffffff; 
    margin-top: 40px; 
}


/* MODIFIE LES TAILLES ICI */

.galerie-container {
    display: flex;
    flex-wrap: wrap;     
    justify-content: center; 
    
    align-items: center;  
    gap: 50px;           
    max-width: 1200px;   
    margin: 0 auto;
}

.img-1 {
    width: 280px;
    height: 400px;
    object-fit: cover;
}

.img-2 {
    width: 350px;
    height: 500px;
    object-fit: cover;
}

.img-3 {
    width: 300px;
    height: 450px;
    object-fit: cover;
}

.img-4 {
    width: 280px;
    height: 400px;
    object-fit: cover;
}

.img-5 {
    width: 300px;
    height: 450px;
    object-fit: cover;
}
.img-6 {
    width: 350px;
    height: 500px;
    object-fit: cover;
}


.galerie-item img {
    transition: transform 0.3s ease;
}
.galerie-item img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

